$whatsapp-green: #128C7E;
$whatsapp-light-green: #25D366;
$whatsapp-background: #f0f2f5;
$whatsapp-lighter-background: #ECE5DD; /* Фон чата */
$text-color: #666;
$input-border: #ddd;
$error-color: #dc3545;
$error-background: #f8d7da;
$error-border: #f5c6cb;
$whatsapp-message-outgoing: #ada4a4;
$whatsapp-message-incoming: #fff;
$whatsapp-light-green: #25D366;
